<div>
<% if @user.admin? %>
 <p><%= link_to "Categories", admin_categories_path %> |
    <%= link_to "Images", admin_images_path %> </p>
<% end %>
</div>

<p>
  <%= link_to "New Idea", new_idea_path %>
</p>


<h2>Ideas:</h2>
<div>
  <% @user.ideas.each do |idea| %>
    <%= link_to idea.title, idea_path(idea) %> |
    <%= link_to "Edit", edit_idea_path(idea) %> |
    <%= link_to "Delete", idea, method: :delete %><br>
  <% end %>
</div>

